html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#contenedor {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 91%;
    width: 100%;
    overflow: hidden;
}

#Peliculas {
    position: fixed; /* Para que el elemento sea fijo en la pantalla */
    top: 0; /* Posiciona el elemento en la parte superior */
    float: left;
    background-color: #f0f0f0;
    padding: 10px;
    width: 25%; /* La imagen ocupará el 25% del ancho de la pantalla */
    height: auto;
}

#Descripcion{
    position: fixed; /* Para que el elemento sea fijo en la pantalla */
    top: 20; /* Posiciona el elemento en la parte superior */
     right:0;
    background-color: #f0f0f0;
    padding: 10px;
    width: 70%; /* La imagen ocupará el 50% del ancho de la pantalla */
    height: 80%;
}

.caratula {
    width: 100%; /* Ancho completo */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.caratula:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}

/* Estilo para el contenedor del buscador */
.buscador-container {
    margin: 20px;
    max-width: 400px;
}

/* Estilo para el input del buscador */
.buscador-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para el botón de búsqueda */
.buscador-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo para el botón de búsqueda al pasar el ratón sobre él */
.buscador-btn:hover {
    background-color: #0056b3;
}

/* Estilo para el contenedor de resultados (puedes ajustar según tus necesidades) */
.resultados-container {
    margin-top: 20px;
}

/* Estilo para los elementos de resultado (puedes ajustar según tus necesidades) */
.resultado-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

/* Estilo para los elementos de resultado al pasar el ratón sobre ellos */
.resultado-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}       
       

.estrenos-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.estreno {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}
.estreno img {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.estreno .titulo {
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
}

.estreno .descripcion {
    padding: 10px;
    background-color: #fff;
    color: #333;
}


.cabecera {
    background-color: lightgrey;
    width: 100%;
    height: 10vh; 
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecera img {
    height: 100%;
    width: auto;
} 

.login-text {
    margin-right: 1%;
    margin-left: 30%;
} 

.cabecera .menu_link {
    margin: 0 auto;
}

.login-content {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: auto; */
    height: 90vh;
}

.title_container {
    display: block;
}

.title_container p {
    font-size: xx-large;
    text-align: center;
}

.login-container {
    background-color: #fff;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container label, .login-container input {
    display: block;
    margin-bottom: 5%;
}

.login-container input {
    width: 100%;
    padding: 3%;
    box-sizing: border-box;
}

.login-container button {
    background-color: #0077cc;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-account-link {
    margin-top: 10%;
    text-align: center;
}

/* Add this to your existing CSS file or create a new one */

.search-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px); /* Adjust the blur amount as needed */
    z-index: 999;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Use a semi-transparent background to enhance the blur effect */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 100%;
}

.search-input {
    width: 60%;
    height: 8%;
    margin-bottom: 10px;
    margin-top: 20%;
    padding: 1%;
    border: 3px solid #ccc; /* Set border width and color */
    border-radius: 5px; /* Set border radius for rounded corners */
    box-sizing: border-box;
}

.search-input:focus {
    outline: none; /* Remove the default outline on focus */
    border-color: #007bff; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow on focus */
}

#closeSearch {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 7%;
    width: 15%;
}

.peliculas {
    display: grid; /* Utilizar un diseño de cuadrícula */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Definir el ancho de columna mínimo de 200px y dejar que se ajuste automáticamente */
    gap: 20px; /* Espacio entre las imágenes */
}

.caratula {
    width: 100%; /* Ancho del 100% para llenar el contenedor de la cuadrícula */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.caratula:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}
  
.info-container {
    display: flex;
    align-items: flex-start; /* Alinea los elementos al principio del contenedor */
    margin-top: 5%;
    margin-bottom: 5%;
}

.info-img {
    width: 400px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info-text {
    margin-left: 20px; /* Proporciona espacio entre la imagen y los textos */
    display: flex; /* Utiliza flexbox para alinear verticalmente */
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
}

.info-director,
.info-genero,
.info-desc {
    color: rgb(62, 62, 62);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 5px 0; /* Espaciado entre cada texto */
}

.info-titulo {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0; /* Espaciado entre cada texto */
}

.rating {
    margin-top: 10px; /* Espaciado superior para separar el rating del texto */
    margin-left: auto; /* Mueve el rating hacia la izquierda */
    margin-bottom: 20px;
}

.rating > input {
    display: none;
}

.rating > label {
    display: inline-block;
    padding: 5px;
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
}

.rating > input:checked ~ label,
.rating:hover > label {
    color: #f90;
}

.boton-borrar {
    display: inline-block;
    background-color: #ff0000; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
}

.boton-borrar:hover {
    background-color: #cc0000; /* Cambiar color de fondo al pasar por encima */
}
.boton-modificar {
    display: inline-block;
    background-color: #ff0000; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave */
}

.boton-modificar:hover {
    background-color: #cc0000; /* Cambiar color de fondo al pasar por encima */
}

/* Contenedor para centrar el botón */
.centro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh; /* Altura total de la ventana */
}
