/* Estilo para las fotos */
.foto {
    display: block; /* Mostrar como bloque para respetar márgenes */
    width: 100px; /* Ancho fijo de 100 píxeles */
    height: 100px; /* Alto fijo de 100 píxeles */
    object-fit: cover; /* Redimensionar la imagen para cubrir el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}
.logo{
  display: block; /* Mostrar como bloque para respetar márgenes */
    width: 50px; /* Ancho fijo de 100 píxeles */
    height: 50px; /* Alto fijo de 100 píxeles */
    object-fit: cover; /* Redimensionar la imagen para cubrir el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}
.menu{
background-color: red;
}

.list_titles {
  font-weight: bold;
  font-size: x-large;
}

.list_subtitles {
  font-weight: bold;
  font-size: large;
}