/* Estilo para las fotos */
.foto {
    display: block; /* Mostrar como bloque para respetar márgenes */
    width: 100px; /* Ancho fijo de 100 píxeles */
    height: 100px; /* Alto fijo de 100 píxeles */
    object-fit: cover; /* Redimensionar la imagen para cubrir el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}
.logo{
  display: block; /* Mostrar como bloque para respetar márgenes */
    width: 50px; /* Ancho fijo de 100 píxeles */
    height: 50px; /* Alto fijo de 100 píxeles */
    object-fit: cover; /* Redimensionar la imagen para cubrir el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}
.menu{
background-color: red;
}

.list_titles {
  font-weight: bold;
  font-size: x-large;
}

.list_subtitles {
  font-weight: bold;
  font-size: large;
}

.caratula {
    width: 200px; /* Ancho deseado */
    height: 300px; /* Altura automática para mantener la proporción */
    border: 2px solid black; /* Borde negro de 2px */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    margin-bottom: 20px; /* Margen inferior de 20px */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.caratula:hover {
    transform: scale(1.1); /* Aumentar tamaño al pasar el ratón */
}
